@font-face {
    font-family: 'Exo';
    src: url('Exo-Regular.eot');
    src: url('Exo-Regular.eot?#iefix') format('embedded-opentype'),
        url('Exo-Regular.woff2') format('woff2'),
        url('Exo-Regular.woff') format('woff'),
        url('Exo-Regular.ttf') format('truetype'),
        url('Exo-Regular.svg#Exo-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Exo';
    src: url('Exo-SemiBold.eot');
    src: url('Exo-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('Exo-SemiBold.woff2') format('woff2'),
        url('Exo-SemiBold.woff') format('woff'),
        url('Exo-SemiBold.ttf') format('truetype'),
        url('Exo-SemiBold.svg#Exo-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Exo';
    src: url('Exo-Italic.eot');
    src: url('Exo-Italic.eot?#iefix') format('embedded-opentype'),
        url('Exo-Italic.woff2') format('woff2'),
        url('Exo-Italic.woff') format('woff'),
        url('Exo-Italic.ttf') format('truetype'),
        url('Exo-Italic.svg#Exo-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

html{
  scroll-behavior: smooth;
}
body {
  margin: 0px;
  padding: 0px;
  font-family: "Exo";
  background-color: #4e4e4e;
  width: 100%;
  color: white;
}


#mainindex, #mainitin, #mainform, #maininfo{
	width:1480px;
  margin:auto;
}

#yt{
  overflow:hidden;
  overflow-x:hidden;
  overflow-y:hidden;
  height:100%;
  width:100%;
  position:absolute;
  border: 0px;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
}

.scrolldown{
  position: absolute;
  bottom: 20px;
  left: 50%;
  width: 40px;
  height: 40px;
  transform: translateY(-80px) translateX(-50%) rotate(45deg);
}
.scrolldown span{
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-bottom: 4px solid #fff;
  border-right: 4px solid #fff;
  animation: animate 1.5s linear infinite;
  opacity: 0;
}
.scrolldown span:nth-child(1){
  transform: translate(-15px, -15px);
  animation-delay: -0.4s;
}
.scrolldown span:nth-child(2){
  transform: translate(0px, 0px);
    animation-delay: -0.2s;
}
.scrolldown span:nth-child(3){
  transform: translate(15px, 15px);
    animation-delay: 0s;
}
@keyframes animate {
  0% {
      top: -5px;
      left: -5px;
      opacity: 0;
    }
  25% {
      top: 0px;
      left: 0px;
      opacity: 1;
    }
  50%, 100% {
      top: 5px;
      left: 5px;
      opacity: 0;
    }
}
.scrollright{
  position: sticky;
  padding-right: 200px;
  display: inline;
  float: right;
}
.scrollleft{
  position: sticky;
  padding-right: 200px;
  display: inline;
  float: left;
}

*a:visited{
 text-decoration: none;
}
nav {
  position: fixed;
  background-color: aliceblue;
  width: 450px;
  height: 50px;
  z-index: 2;
  font-weight: bold;
}
.anclas {
  display: flex;
  list-style: none;
}
li a{
  margin-left: 15px;
  margin-right: 15px;
  text-decoration: none;
  color: midnightblue;
  text-transform: uppercase;
}
a:hover, #longpart a:hover{
  color:dodgerblue;
  text-decoration: none;
}
.actual{
  text-decoration-line: underline;
  color: dodgerblue;
}

.banner-area{
  width:100%;
  height:100vh;
  overflow: hidden;
  margin:0px;
  padding:0px;
  border:0px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size:cover;
}

p a, details a, #longpart a{
  color: white;
}

#longpart a{
  float: right;
  margin-top: 50px;
}

details{
  width: 80vh;
}

#leftdata {
    width: 30%;
    margin-left: 5%;
    height: 100%;
}
#leftdata h2{
  font-size: 30px;
  margin-top: 50px;
}


.clear{ clear: inherit;}


.form span{
  display: block;
  line-height: 30px;
}
input, select{
	width:300px;
	padding:10px 15px;
  border: none;
  border-radius: 5px;
	margin-bottom: 10px;
}
select{
  width:330px;
}
input[type=submit] {
  background-color: #4CAF50;
  border: none;
  color: white;
  cursor: pointer;
  width: 330px;
  margin-top: 25px;
  font-family: "Exo";
  font-size: 18px;
}
input[type=file]{
  border-style: solid;
  border-width: 1.5px;
  border-color: 000;
  border-radius: 5px;
  width:297px;
}

.formulario{
  margin-top: 50px;
  margin-right: 5%;
  background-image: url("../img/gradiente.jpg");
  width: 30%;
  height: 700px;
  border: none;
  border-radius: 20px;
  display: inline-block;
  position: relative;
}
.form{
  margin-left: 60px;
  margin-top: 30px;
  display: block;
}


#home{
    background-image: url("../img/bann.jpg");
}
#itinerario{
    background-image: url("../img/bannitin.jpg");
    height:40vh;
}
#reservas{
    background-image: url("../img/bannform.jpg");
    height:40vh;
}
#info{
    background-image: url("../img/banninfo.jpg");
    height: 40vh;
}

#mainitin ol li{
  font-size: 50px;
}

#part1{
  background-image: url("../img/info1.png"), url("../img/fondoclaro.jpg");
  background-repeat: no-repeat, repeat-x;
  background-position: left, center;
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
#part2{
  background: #262626;
  background-image: url("../img/info2.png"), url("../img/fondoscuro.jpg");
  background-repeat: no-repeat, repeat-x;
  background-position: left, center;
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
#part1i{
  background-image: url("../img/gradien3.jpg");
  background-repeat: repeat-x;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 60vh;
  overflow: hidden;
}
#longpart{
  background: #262626;
  background-image: url("../img/fondit2.jpg"), url("../img/fondoscuro.jpg");
  background-repeat: no-repeat, repeat-x;
  background-position: top, bottom;
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 240vh;
  overflow: hidden;
}
#part3{
  background-image: url("../img/fondoclaro.jpg");
  background-repeat: repeat-x;
  background-position: center
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 80vh;
  overflow: hidden;
}
#partform{
  background-image: url("../img/fondoclaro.jpg");
  background-repeat: repeat-x;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#part2i{
  background: #262626;
  background-image: url("../img/fondoscuro.jpg");
  background-repeat: repeat-x;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 110vh;
  overflow: hidden;
}
#thx{
  background-image: url("../img/gradien3.jpg");
  background-repeat: repeat-x;
  background-position: center;
  text-align: center;
  width: 100%;
  height: 50vh;
  overflow: hidden;
}
#thx h2, #thx p{
  text-align: center;
}
#thx a{
  color: white;
}

#prefooter{
  background-image: url("../img/fondito.jpg");
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 25vh;
  overflow: hidden;
}
#prefooter p{
  width: 50%;
  padding-top: 30px;
  text-transform: uppercase;
  text-align: center;
}
#prefooter a {
  display: block;
  text-align: center;
}

#social {
  display: inline;
  margin-left: 200px;
}

#social a{ background: url('../img/sprite.png') left top no-repeat; display: inline-block; width: 50px; height: 50px; overflow: hidden; margin-top: 20px;}
#social #facebook{ background-position: -2px -52px; }
#social #twitter{ background-position: -54px -52px; }
#social #youtube{ background-position: -106px -52px; }
#social a:hover{ background: url('../img/sprite.png') left top no-repeat; display: inline-block; width: 50px; height: 50px; overflow: hidden; margin-top: 20px;}
#social #facebook:hover{ background-position: -2px 0px; }
#social #twitter:hover{ background-position: -54px 0px; }
#social #youtube:hover{ background-position: -106px 0px; }

#social #facebook span{
  position: relative;
  z-index: -1;
}
#social #twitter span{
  position: relative;
  z-index: -1;
}
#social #youtube span{
  position: relative;
  z-index: -1;
}

footer{
  background-color: #272727;
  width: 100%;
  height: 20vh;
  overflow: hidden;
}
footer .centerpic{
  float:left;
  margin-left: 50px;
  margin-top: 20px;
}
footer p{
  float: right;
  text-align: right;
  margin-right: 80px;
  margin-top: 30px;
}
#logo{
  background-image: url("../img/logoazul.png");
  width: 296px;
  height: 85px;
}

.text-part{
  width: 70%;
  height: 80%;
}
#mainindex .text-part p{
  column-count: 2;
}

.last-part{
 width: 90%;
 height: 80%;
}
.last-part p{
  width: 40%;
  float: left;
  display: inline;
}

.bold {
  font-weight: bold;
}
em {
  font-style: normal;
}

p{
  font-size: 18px;
  line-height: 28px;
  text-align: justify;
}
h1{
  position: relative;
  z-index: 1;
  text-transform: uppercase;
  padding-top: 40px;
  text-align: center;
  font-size: 80px;
}
#mainitin h1, #mainform h1{
  font-size: 60px;
}

h2{
  text-align: right;
  font-size: 50px;
  column-span: all;
}
.last-part h2{
  text-align: center;
}
h3{
    font-size: 20px;
    text-indent: -15px;
    text-align: left;
  }
#part2i h2{
  text-align: right;
}

.container {
  position: relative;
  text-align: center;
  font-style: italic;
  float: left;
  margin: 0px;
  padding: 0px;
  width: 20%;
  text-align: left;
}
#mainitin figcaption{
  position: absolute;
  font-size: 80px;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
}
figcaption a{
  color: white;
  text-shadow: 5px, 5px, 5px, black;
}
figcaption a:hover{
  color: midnightblue;
}

.evento figure{
  margin: 0px;
  padding: 0px;
  text-indent: 0px;
}
figure span{
  display: inline-block;
}

.evento{
  background-color: rgba(192,192,192, 0.4);
  width: 240px;
  border: 1px solid;
  border-radius: 10px;
  padding: 10px;
  display: inline-block;
  margin-right: 30px;
}
.evento h3, .news h3{
  text-indent: 0px;
  line-height: 0px;
  margin-top: 10px;
}
.evento:hover {
  cursor:pointer;
  transform:scale(1.25);
}

.news {
  height: 170px;
  width: 360;
  overflow: hidden;
  margin-bottom: 40px;
}
.news a{
  font-size: 12px;
}


.der{
  float:right;
  color: white;
}
.izq{
  float:left;
  margin-right: 30px;
}
.centerpic{
	text-align: center;
}
.centerpic img {
  padding-left: 10px;
  padding-right: 10px;
}
#partform iframe{
  width: 350px;
  height: 350px;
  margin-bottom: 50px;
}
